@media only screen and (max-width: 1000px) {


    .cards-offer {
        top: 12%;
        left: 6%;
        width: 34%;
        height: 22%;
        background: #03A9F4;
        position: absolute;
        border: 1px solid #03A9F4;
        display: inline-block;
        color: white;
        font-size: medium;
        z-index: 999;
        border-radius: 3px;
    }

    .product-price {
        top: 72%;
    }


}


@media only screen and (max-width: 450px) {
    .product-name {
        position: absolute;
        top: -2%;
        text-align: center;
        left: 0;
    }


    .price {
        display: inline-block;
    }

    .offer {
        display: inherit;
        width: 76%;
        border: 1px dashed #889096;
        padding: 0;
        position: absolute;
        left: 24%;
        padding-left: 1%;
        padding-right: 1%;
        top: 3%;
    }

    .cart-button {
        display: inherit;
        left: 21%;
        text-align: center;
        position: absolute;
        top: 31%;
    }

    .product-price {
        top: 58%;
        left: 2%;
        height: 41%;
    }

    .ratings {
        width: 100%;
        top: 20%;
        height: 82%;
        position: relative;
        font-size: small;
    }

    .social {
        display: inline-block;
        width: 100%;
        top: 36%;
        position: absolute;
    }

    .stars {
        display: inline-block;
        width: 100%;
        top: 8%;
        position: absolute;
        padding-left: 1%;
    }

}