.cards {
    width: fit-content;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border: 1px solid #d2d6d8;
    position: relative;
    color: white;
    margin-bottom: 2%;
}

.cards-offer {
    top: 4%;
    width: 32%;
    height: auto;
    background: #03A9F4;
    left: 64%;
    position: absolute;
    border: 1px solid #03A9F4;
    border-radius: 4%;
    display: inline-block;
}

.img-thumbnail {
    border: none;
}