<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href><strong>Westelm</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{active:isActive('/dashboard')}"><a href="#/dashboard">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active:isActive('/login')}"><a href="#/login">Login</a></li>
        </ul>
    </div>
</nav>
<!-- Below Navbar is Not Visible As it helps Achieve invicible navabra which results
in space between content and nav -->
<nav class="navbar">
</nav>