<div class="container-fluid">
    <div class="product-container text-center">
        <div uib-carousel active="active">
            <div uib-slide ng-repeat="slide in productDetail.images track by $index" active="active" index="$index">
                <img ng-src="{{slide.href}}" style="margin:auto;">
                <div class="carousel-caption">
                   <!--  <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="product-container">
        <h2 class="product-name">{{productDetail.name}}</h2>
    </div>
    <div class="product-container height-19">
        <div class="product-price">
          <div class="price">
            {{productDetail.priceRange.selling.high}}&nbsp;<i class="fa fa-usd fa-1x" aria-hidden="true"></i>
          </div>
            <!-- Ratings -->
            <div class="offer">
                <a href class="inline offer-1st">{{productDetail.messages[0]}}</a>
                <a href class="inline">{{productDetail.messages[1]}}</a>
            </div>
            <div class="cart-button">
            <button class="btn btn-primary pull-right cards-cart-button btn-block">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                &nbsp;Add To Cart
            </button>
          </div>
            <div class="ratings">
                <div class="stars">
                    <h6>Overall Rating</h6>
                    <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </div>
                <div class="social">
                    <h6>People Who Recommended The Product</h6>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{productDetail.reviews.recommendationCount}}&nbsp;
                    <a href>Read Reviews</a>
                </div>
            </div>
        </div>
    </div>
</div>